assets/css
assets/css/frontend/*.css
assets/css/frontend/*.map
assets/css/style.css
assets/scripts/customizer.js
assets/scripts/customizer.min.js
assets/scripts/frontend.js
assets/scripts/frontend.min.js
dist/
.DS_Store
languages/*.mo
*.log
*.map
node_modules
package-lock.json
release
.sass-cache
style.css
Thumbs.db
