@import '_mixin';

:root {
    --font-family-serif: serif;
    --font-family-sans-serif: sans-serif;

    /* COLORS */
    --color-white: #fff;
    --color-black: #000;

    --color-primary: #2a2d2e;
    --color-accent:  #406aa6;
    --color-alert:   #d80606;

    --color-theme-1: #ccdaeb;
    --color-theme-2: #254473;
    --color-theme-3: #1c2b3f;
    --color-theme-4: #c8cfd8;
    --color-theme-5: #5b6773;
    --color-theme-6: #c8cfd8;

    /* BACKGROUND COLORS */
    --color-background-header: var(--color-accent);
    --color-background-main:   var(--color-white);
    --color-background-body:   var(--color-white);

    /** TEXT COLORS */
    --color-text: #000;

    /* LINKS COLORS */
    --color-link:         var(--color-accent);
    --color-link-visited: var(--color-accent);
    --color-link-hover:   var(--color-primary);
    --color-link-active:  var(--color-primary);

    /** BUTTONS */
    --button-background:               var(--color-accent);
    --button-background-hover:         var(--color-theme-2);
    --button-border-color:             var(--color-accent);
    --button-border-color-hover:       var(--color-theme-2);
    --button-color:                    var(--color-white);
    --button-color-hover:              var(--color-white);
    --button-reverse-background-hover: var(--color-theme-1);

    /** MARGIN & PADDING */
    --padding-default: 20px;
    --padding-small: 10px;

    /** radius **/
    --radius-default: 4px;

    /** font-size **/
    --font-size-default: 16px;
    --font-size-small: 13px;
}

