@use "../mixin" as *;
@use "sass:math";

html {
	min-width: $width_xs;
	scroll-behavior: smooth;

	.otgs-development-site-front-end {
		display: none;
	}
}

body {
	min-width: $width_xs;
	background-color: var(--color-theme-background-body);
	color: var(--color-theme-text);
}

a {
	&[rel=external] {
		display: flex;
		gap: 8px;
		align-items: center;

		&:after {
			display: block;
			width: 12px;
			height: 12px;
			content: "";
			@include iconb('external.svg');
		}
	}
}

.entry {
	&-content {
		@for $value from 1 through 12 {
			$width: math.percentage(math.div($value, 12));

			.column-#{$value} {
				width: $width;
			}
		}

		$aligns: left, center, right;

		@each $align in $aligns {
			.align#{$align} {
				text: {
					align: $align;
				}
			}
		}
	}
}

/**
 * accessibility
 */

.sr-only {
	@include reset_min;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
}

/**
 * WPML Developent Site Banner
 */
.otgs-development-site-front-end {
	display: none !important;
}